body {
  padding-top: 50px;
  font-family: 'Open Sans';
}
.bootscapp {
  padding: 30px 15px;
  text-align: left;
}
.bootscapp .form-group {
  position: relative;
}
.bootscapp .form-group .autocomplete {
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 20;
}
.autocompleting {
  border-radius: 6px 6px 0 0;
  border-bottom: none;
}
.autocomplete {
  border: #66afe9 1px solid;
}
.foodcollection.dark,
.autocomplete.dark {
  opacity: .5;
}
ul.foodcollection,
ul.autocomplete {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.foodcollection > li,
ul.autocomplete > li {
  clear: both;
  list-style: none;
  width: 100%;
  padding: 5px;
  margin: 0;
  border: #e5e5e5 1px solid;
  margin-top: -1px;
  font-size: 20px;
  font-weight: 300;
  background-color: white;
}
ul.foodcollection > li:nth-child(2n+1),
ul.autocomplete > li:nth-child(2n+1) {
  background-color: #eee;
}
ul.foodcollection > li.crossed div,
ul.autocomplete > li.crossed div {
  color: #999;
}
ul.foodcollection > li.crossed div .cross,
ul.autocomplete > li.crossed div .cross {
  width: 100%;
}
ul.foodcollection > li .name,
ul.autocomplete > li .name {
  display: inline-block;
  position: relative;
  padding: 5px;
}
ul.foodcollection > li .name .cross,
ul.autocomplete > li .name .cross {
  position: absolute;
  width: 0;
  left: 0;
  height: 1px;
  background: #999;
  top: 50%;
  -webkit-transition: width .1s ease;
  -moz-transition: width .1s ease;
  -ms-transition: width .1s ease;
  -o-transition: width .1s ease;
  transition: width .1s ease;
}
ul.foodcollection > li .count,
ul.autocomplete > li .count {
  display: inline-block;
  float: right;
  padding: 5px;
}
.foodcollection .menu,
.autocomplete .menu {
  margin: 5px -5px;
  width: 100%;
  height: 40px;
  border-top: #cacaca 1px solid;
}
.foodcollection .menu span,
.autocomplete .menu span {
  float: left;
  min-width: 50px;
  text-align: center;
  height: 50px;
  line-height: 30px;
  border-top: #999;
  padding: 10px;
  border-right: #cacaca 1px solid;
  margin-right: -1px;
}
.foodcollection .menu .users,
.autocomplete .menu .users {
  float: right;
  list-style: none;
  font-size: 12px;
}
.foodcollection .menu .users li,
.autocomplete .menu .users li {
  display: inline;
}
.foodcollection .menu .users li:after,
.autocomplete .menu .users li:after {
  content: ', ';
}
.foodcollection .menu .users li:last-child:after,
.autocomplete .menu .users li:last-child:after {
  content: '';
}
@media only screen and (max-width: 768px) {
  .navbar-brand {
    font-size: 14px;
  }
  .navbar-brand span {
    display: inline-block !important;
  }
}
.navbar-inverse {
  background: #24547D;
}
.navbar-inverse a {
  color: white;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > li > a:hover {
  background: #0B416E;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
#sync {
  width: 100%;
  display: block;
  text-align: center;
  color: #b6b6b6;
}
