<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootscapp</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="favicon/favicon.ico" type="image/x-icon"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="favicon/apple-touch-icon.png"/>
    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-touch-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-touch-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-touch-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-touch-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-touch-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-touch-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-touch-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-touch-icon-152x152.png"/>

    <link rel="icon" type="image/png" href="favicon/logo_256x256x32.png" sizes="196x196">
    <link rel="icon" type="image/png" href="favicon/logo_256x256x32.png" sizes="160x160">
    <link rel="icon" type="image/png" href="favicon/logo_96x96x32.png" sizes="96x96">
    <link rel="icon" type="image/png" href="favicon/logo_16x16x32.png" sizes="16x16">
    <link rel="icon" type="image/png" href="favicon/logo_32x32x32.png" sizes="32x32">
    <meta name="msapplication-square70x70logo" content="favicon/smalltile.png" />
    <meta name="msapplication-square150x150logo" content="favicon/mediumtile.png" />
    <meta name="msapplication-wide310x150logo" content="favicon/widetile.png" />
    <meta name="msapplication-square310x310logo" content="favicon/largetile.png" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-app="ngBootscapp">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="ngNavigationController">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Bootscapp <span class="visible-xs">- {{active.value}}</span></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-repeat="item in menu" ng-click="setActive(item)" ng-class="{'active' : $root.active.key == item.key && !$root.settings}">
                    <a href="javascript:void(0);" ng-bind="item.value"></a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="container" ng-if="!$root.settings">

    <div class="bootscapp" ng-controller="ngBootscappController">
        <div class="form-group" ng-show="$root.user.id">
            <form ng-submit="addFood(foodToAdd)">
                <input type="text" ng-blur="closeAutoComplete()"
                       ng-focus="autocomplete = true" ng-model="foodToAdd" class="form-control input-lg"
                       ng-class="{'autocompleting' : foodToAdd.length > 0}" placeholder="Voeg toe">
            </form>
            <ul class="autocomplete" ng-show="foodToAdd.length > 0">
                <li ng-repeat="food in FoodCollection.coll| filter:{name: foodToAdd} | limitTo:4"
                    ng-click="addFood(food.name)">
                    <div class="name">
                        {{food.name}}
                    </div>
                </li>
            </ul>
        </div>

        <div ng-if="!$root.user.id">
            <h4>Registreer je eerst onder 'Settings'</h4>
            <br />
        </div>

        <ul class="foodcollection" ng-class="{'dark': foodToAdd.length > 0 }">
            <li ng-repeat="food in FoodCollection.coll" ng-if="food.count > 0" ng-class="{'crossed' : food.crossed}" ng-click="toggleMenu(food._id);">
                <div class="name">
                    {{food.name}}
                    <span class="cross"></span>
                </div>



                <div class="count" ng-if="FoodCollection.useCounter">
                    {{food.count}}x
                </div>

                <div class="menu" ng-if="$root.open == food._id">
                    <span ng-click="FoodCollection.add(food.name);" ng-if="$root.active.useCounter" class="glyphicon glyphicon-plus"></span>
                    <span ng-click="FoodCollection.cross(food);" class="glyphicon glyphicon-ok"></span>
                    <span ng-click="FoodCollection.remove(food);" class="glyphicon glyphicon-remove"></span>
                    <ul class="users">
                        Toegevoegd door:
                        <li ng-repeat="user in food.users">{{user.name}}</li>
                    </ul>
                </div>
            </li>
        </ul>
<br />

        <span id="sync">
            <a style="cursor:pointer" ng-click="FoodCollection.clear()">Clear</a>
            <span ng-if="sync">Syncing...</span>
            <span ng-if="!sync && syncDate" ng-click="FoodCollection.sync()">Last sync:&nbsp;{{syncDate}}</span>
        </span>
    </div>
</div>

<div class="container" ng-show="$root.settings" ng-controller="ngSettingsController" ng-include="'settings.html'">

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-2.1.0.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/bootscapp.js"></script>
</body>
</html>