<div>
<form id="settings">

    <div class="row  input-group input-group-lg">
        <h4>Gebruiker</h4>

        <div class="input-group">
        <input type="text" class="form-control"placeholder="Gebruikersnaam" ng-model="$root.user.name">
 <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="saveUser();">Save</button>
      </span>
    </div>
    </div>


</form>
</div>